<h3>Upcoming Events</h3>
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @school.events.in_the_future.order("start_at ASC").each do |event| %>
      <tr>
        <td>
          <h6>
            <%= event.name %></br>
            <small><%= event.program.name %></small>
          </h6>
        </td>
        <td><%= event.start_at.to_s(:short) %></td>
        <td><%= link_to 'Show', school_program_event_path(@school, event.program, event) %></td>
        <td><%= link_to 'Order', '#' %></td>
      </tr>
    <% end %>
  </tbody>
</table>