<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Product category</th>
      <th>Name</th>
      <th>Description</th>
      <th>Sale price</th>
      <th>Cost price</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.supplier %></td>
        <td><%= product.product_category %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.sale_price %></td>
        <td><%= product.cost_price %></td>
        <td><%= product.slug %></td>
        <td><%= link_to 'Show', school_product_path(@school, product) %></td>
        <td><%= link_to 'Edit', edit_school_product_path(@school, product) %></td>
        <td><%= link_to 'Destroy', school_product_path(@school, product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_school_product_path %>
