<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">PLOP</li>
      <% if current_user.present? && current_user.role == 'coordinator' %>
        <li class="has-submenu">
          <%= link_to current_user.school.name, school_path(current_user.school) %>
          <ul class="submenu menu vertical" data-submenu>
            <li><%= link_to "Divisions", school_divisions_path(current_user.school) %></a></li>
            <li><%= link_to "Grades", school_grades_path(current_user.school) %></li>
            <li><%= link_to "Rooms", school_rooms_path(current_user.school) %></li>
          </ul>
        </li>
      <% end %>
      <% if current_user.present? && current_user.role == 'admin' && @school.present? %>
        <li class="has-submenu">
          <%= link_to @school.name, school_path(@school) %>
          <ul class="submenu menu vertical" data-submenu>
            <li><%= link_to "Divisions", school_divisions_path(@school) %></a></li>
            <li><%= link_to "Grades", school_grades_path(@school) %></li>
            <li><%= link_to "Rooms", school_rooms_path(@school) %></li>
          </ul>
        </li>
      <% end %>
      <% if current_user.present? && current_user.role == 'parent' %>
        <li class="has-submenu">
          <%= link_to @school.name, school_path(@school) %>
          <ul class="submenu menu vertical" data-submenu>
            <li><%= link_to "My Children", children_path %></a></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if current_user %>
        <li><%= current_user.email %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>